<!--
  _____  _      _    __  __            _
 |  __ \(_)    | |  |  \/  |          | |
 | |__) |_  ___| | _| \  / | __ _ _ __| | ___   _ ___
 |  _  /| |/ __| |/ / |\/| |/ _` | '__| |/ / | | / __|
 | | \ \| | (__|   <| |  | | (_| | |  |   <| |_| \__ \
 |_|  \_\_|\___|_|\_\_|  |_|\__,_|_|  |_|\_\\__,_|___/

 Oh, hi!

 You found the secret easter egg.

 Let me introduce myslef.

 * Ahem *

 I'm currently a Developer II at Leaselabs based in San Diego. You can read all about that via the LinkedIn icon on the front end of this website, but I spend most of my day coralling the views of the copany's self-built ruby CMS, optimizing the skeleton developers use to build out client themes and bridging the gap to software engineering (i.e. trying to become one ... oficially). 

-->
