/**
 * Typography
 */

body {
  text-align: center;
  font-family: sans-serif;
}

/**
 * Icons
 */

 h1 {
   margin-bottom: 5rem;
 }

 .social-media-list {
   list-style-type: none;
   padding: 0;
   li {
     margin: 0.5rem;
     display: inline-block;
   }
 }

.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: grey;
  }
}
