---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

  <form action="https://formspree.io/mail@rickmarkus.com"
      method="POST">
    <label name="name">Name</label>
    <input type="text" name="name">
    <label name="_replyto">Email</label>
    <input type="email" name="_replyto">
    <label name="message">Message</label>
    <input type="textarea" name="message">
    <input type="submit" value="Send">
  </form>

</div>
